#text, #labels {
    width: 80%;
    float: left;
     
}
#title {
    width: 80%;
}
#post {
    width: 80%;
    margin-top: 0.1cm; 
}
#labels {
    font-weight: bold; 
    width: 2cm;
    
}
#buttons {
    float: left;
    margin-left: 2cm;
    width: 50%;
}
